@page "/registration"
<h3>Регистрация</h3>
<p><a href="/registration/users/@VartanId/@VartanName">Вартан</a></p>
<p><a href="/registration/users/@EduardId/@EduardName">Эдуард</a></p>

    @code {
        public string VartanId = "25";
        public string EduardId = "22";
        public string VartanName = "Вартан";
        public string EduardName = "Эдуард";


    }

