@*@page "/registration/users/{UserId}/{UserName}"
        @page "/registration/users"
    <h3>users</h3>
    <p>@UserName</p>
    <p>Номер id: @UserId</p>
    @code {
            [Parameter]
            public string UserId { get; set; }
            [Parameter]
            public string UserName { get; set; }
        }
*@

@page "/users"
<h1>Пользователи</h1>
<UsersTable></UsersTable>
