@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Добавление отеля</title>
</head>
<body>
    <div>
        <h3>Форма добавления отеля</h3>
        <form method="post">
            <table>
                <tr>
                    <td>Название отеля:</td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td>Город:</td>
                    <td><input type="text" name="City" /></td>
                </tr>
                <tr>
                    <td>Рейтинг:</td>
                    <td><input type="text" name="Rating" /></td>
                </tr>
                <tr>
                    <td>Уровень сервиса:</td>
                    <td><input type="text" name="ServiceLevel" /></td>
                </tr>
                <tr>
                    <td>Количество комнат:</td>
                    <td><input type="text" name="NumRooms" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
