<!DOCTYPE html>
<html>
<head>
    <title>Оформление заказа</title>
</head>
<body>
    <div>
        <h3>Оформить заказ</h3>
        <form method="post">
            <input value="@ViewBag.HotelId" name="HotelId" />
            <input value="@ViewBag.RoomId" name="RoomId" />
            <input type="datetime-local" name="DateTimeIn" />
            <input type="datetime-local" name="DateTimeOut" />
            <input type="submit" value="Отправить" />
        </form>
    </div>
</body>
</html>
