<!DOCTYPE html>
<html>
<head>
    <title>Добавление номера</title>
</head>
<body>
    <div>
        <h3>Форма добавления номера</h3>
        <form method="post">
            <table>
                <tr>
                    <td>Название отеля:</td>
                    <td><input type="text" name="Hotel" /> </td>
                </tr>
                <tr>
                    <td>Классификация номера: </td>
                    <td><input type="text" name="NumClass" /></td>
                </tr>
                <tr>
                    <td>Вместимость: </td>
                    <td><input type="text" name="Capacity" /></td>
                </tr>
                <tr>
                    <td>Цена:</td>
                    <td><input type="text" name="Price" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
