@model FindHotel.Models.Hotel
<!DOCTYPE html>

<html>
<head>
    <title>Забронировать отель</title>
</head>
<body>
    <h1>Забронировать отель</h1>
    <h2>@ViewBag.HotelName</h2>
    <p>Рейтинг отеля: @ViewBag.HotelRating</p>
    <p>Уровень сервиса: @ViewBag.HotelServiceLevel</p>
    <p>Количество номеров:@ViewBag.HotelNumRooms</p>

</body>
</html>