@model IEnumerable<FindHotel.Models.Hotel>
<!DOCTYPE html>

<html>
<head>
    <title>Отели</title>
</head>
<body>
    <h3>Отели</h3>
    <table>
        <tr>
            <td>Название</td>
            <td>Город</td>
        </tr>
        @foreach (var hotel in Model)
        {
    <tr>
        <td>@hotel.Name</td>
        <td>@hotel.City</td>
        <td><a href="~/Home/Hotels/@hotel.HotelId">Купить</a></td>
        <td><a href="~/Home/AddRoom/@hotel.HotelId">Добавить номер</a></td>
    </tr>
        }
    </table>
    <a href="~/Home/AddHotel">Добавить отель</a>
</body>
</html>