@page "/"

<div class="w-50 p-3">  
<h1>Что такое FindHotel?</h1>
<p>Миссия FindHotel — делать путешествия доступными каждому.FindHotel предлагает миллионам гостей потрясающие варианты отелей.FindHotel помогает владельцам объектовразмещения по всему миру привлекать гостей и расширять бизнес.На нем доступно для бронирования большое количество заявленных единиц размещения. Куда бы вы ни отправились и чем бы ни захотели заняться, FindHotel поможет вам в этом.</p>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
