@page "/maket"
<h1>Макет сайта</h1>
<p>Обновляется</p>
<img src="https://psv4.userapi.com/c537232/u181684701/docs/d48/8f9b6a04f45e/Frame.png?extra=jiT6jMOGTgLAgNBnjR3T5wl5g-oa28cCFGcI45EDYbGL7REY5aJvUn_gG5QvVYqmnmXekQojR580IPm-TZt9HpJlIDzlnMJ9iHC2MqvhgAWihRjALn_9HkpbBvPK7GKUeAglLCihRVV25voiLJRnsgzU">